.container{
  width: 400px;
  height: auto;
  background-color: #efefef;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
margin-top: 40px;
padding: 15px 50px;
}
.text{
  text-align: center;

}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10PX gray;

}
.trans-form input{
width: 100%;
margin: 10px 0px;
padding: 5px 0px;
}
.trans-list{
  margin: 0px;
  padding: 0px;   
}
.trans-list li{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: white;
  box-shadow: 0 0 10PX gray;
  margin: 5px 0px;
}
#ex{
  color: red;
}
#in{
  color: green;
}

#bal{
  color: blue;
}